@charset "ISO-8859-1";

.header-main {
	max-width: 310px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	padding: 3em 2em;
	background: rgba(255, 255, 255, 0.04);
	-webkit-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}