$base-theme:Default;
$skin-name:kendoUI;
$swatch-name:Blue Opal;
$border-radius: 2px;
$accent: #13688c;
$info: #0066cc;
$success: #37b400;
$warning: #ffb400;
$error: #db4240;
$text-color: #003f59;
$bg-color: #ffffff;
$base-text: #003f59;
$base-bg: #daecf4;
$hovered-text: #003f59;
$hovered-bg: #7bd2f6;
$selected-text: #ffffff;
$selected-bg: #13688c;
$series-a: #0069a5;
$series-b: #0098ee;
$series-c: #7bd2f6;
$series-d: #ffb800;
$series-e: #ff8517;
$series-f: #e34a00;
